.box{
    height: 400px;
    width: 450px;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgb(172, 153, 153);
    margin: 50px auto;
    text-align: center;
}
.box input{
    height: 40px;
    width: 65%;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid lightgreen;
}
.box input::focus{
    border: 1px solid lightgreen;
}

.box button{
    height: 40px;
    width: 30%;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid lightgreen;
    box-shadow: 0px 0px 5px 5px lightgreen;
    background-color: limegreen;
    color: white    ;
}